body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #60a3bc !important;
}
.headerzone{
    font-size: large;
}
.btn-primary{
    background-color: #F38729;
    border-color: #F38729;
}
.btn-primary:hover{
    background-color: #da7925;
    border-color: #da7925;
}
.btn-primary:focus{
    background-color: #c76e21 !important;
    border-color: #c76e21 !important;
}
.course-img{
    border-radius: 1em;
    max-height: 25em;
    max-width: 60em;
    box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.3);
}